<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Todo App with FastApi & Vuetify</title>
	<meta name="author" content="BadiDesign Mohammad Shekari">
	<link rel="stylesheet" href="static/css/material-icons.min.css">
	<link rel="stylesheet" href="static/css/vuetify.min.css">
	<link rel="stylesheet" href="static/css/style.css">
</head>
<body>
<div id="app">
	<v-responsive class="rounded">

		<v-app :theme="theme" scroll-behavior="hide collapse elevate">
			<v-app-bar class="px-3" color="primary" title="Todo App by Mohammad Shekari">
				<v-spacer></v-spacer>
				<v-btn
						:prepend-icon="theme === 'light' ? 'mdi-wb-sunny' : 'mdi-nightlight-round'"
						text="Toggle Theme"
						slim
						@click="toggleTheme"
				></v-btn>
			</v-app-bar>

			<v-main>
				<v-container>
					<v-snackbar v-model="showSnackbar" :color="snackbarColor"
								:timeout="2000">
						<span v-html="snackbarText"></span>
						<template v-slot:actions>
							<v-btn icon="mdi-close" size="small"
								   @click="showSnackbar = false"
							>
							</v-btn>
						</template>
					</v-snackbar>
					<v-card class="mx-auto mb-5" hover>
						<v-expansion-panels color="success" v-model="addPanel">
							<v-expansion-panel>
								<v-expansion-panel-title disable-icon-rotate class="text-h6 ">
									Add new Todo
									<template v-slot:actions>
										<v-icon color="white" size="small"
												:icon="addPanel === 0 ? 'mdi-close' : 'mdi-add-box'">
										</v-icon>
									</template>
								</v-expansion-panel-title>
								<v-expansion-panel-text>
									<v-form ref="todoForm" validate-on="submit lazy" @submit.prevent="submit">
										<v-container>
											<v-row>
												<v-col sm="5" cols="12">
													<v-text-field class="mb-3"
																  v-model="title"
																  :counter="50"
																  label="Todo Title"
																  placeholder="Write something you want to remember..."
																  :rules="rules"
													></v-text-field>
													<v-text-field class="mb-3"
																  v-model="person"
																  :counter="50"
																  label="Todo Person"
																  placeholder="This todo related to..."
																  :rules="rules"
													></v-text-field>
													<v-textarea
															clear-icon="mdi-close-circle"
															placeholder="Some description you want to write..."
															label="Todo Description"
															v-model="description"
															:counter="300"
															clearable
															required
													></v-textarea>
													<div class="p-5">
														<v-radio-group v-model="level">
															<v-radio label="Critical" color="red"
																	 value="critical"></v-radio>
															<v-radio label="Normal" color="warning"
																	 value="normal"></v-radio>
															<v-radio label="Low" color="success" value="low"></v-radio>
														</v-radio-group>
													</div>
												</v-col>
												<v-col sm="7" cols="12" class="justify-center d-flex">
													<v-date-picker width="100%" max-width="350"
																   :disabled="loadingSubmit"
																   class="border"
																   show-adjacent-months
																   label="Todo Date"
																   title="Todo Date"
																   color="primary"
																   v-model="date"
																   :rules="rules"
													></v-date-picker>
												</v-col>
												<v-col cols="12">
													<v-btn class="w-100" size="large" type="submit" block
														   :loading="loadingSubmit"
														   color="success">Submit Todo
													</v-btn>
												</v-col>
											</v-row>
										</v-container>
									</v-form>
								</v-expansion-panel-text>

							</v-expansion-panel>
						</v-expansion-panels>
					</v-card>
					<v-card class="mx-auto mb-5" v-if="todos.length">
						<v-card-title class="d-flex align-center bg-primary">
							<v-icon icon="mdi-list"></v-icon> &nbsp;
							My Todos
							<v-spacer></v-spacer>
							<v-text-field
									v-model="search"
									density="compact"
									label="Search"
									prepend-inner-icon="mdi-search"
									variant="solo-filled"
									flat
									hide-details
									single-line
							></v-text-field>
						</v-card-title>

						<v-divider></v-divider>
						<v-data-table :loading="tableLoading" v-model:search="search" :items="todos" :headers="headers"
									  v-model="selected"
									  show-select>
							<template v-slot:item.rating="{ item }">
								<v-rating
										:model-value="item.rating"
										color="orange-darken-2"
										density="compact"
										size="small"
										readonly
								></v-rating>
							</template>
							<template v-slot:item.title="{ item }">
								<strong v-html="item.title"></strong>
							</template>
							<template v-slot:item.date="{ item }">
								<div class="text-no-wrap" v-if="!item.completed" v-html="item.date"></div>
								<v-icon icon="mdi-check" color="success" v-else></v-icon>
							</template>
							<template v-slot:item.level="{ item }">
								<div class="text-center">
									<v-chip
											:color="getTodoColor(item.level)"
											:text="item.level"
											class="text-uppercase w-100 text-center d-flex justify-center"
											size="small"
											label
									></v-chip>
								</div>
							</template>
							<template v-slot:item.action="{ item }">
								<div class="text-no-wrap">
									<v-btn @click.prevent="deleteTodo(item)" rounded="lg" icon="mdi-delete"
										   variant="tonal" size="x-small"
										   color="red"></v-btn>
									<v-btn @click.prevent="showDetail(item)" rounded="lg" class="ml-1" icon="mdi-info"
										   variant="tonal" size="x-small" color="info"></v-btn>
									<!--									<v-btn rounded="lg" class="ml-1" icon="mdi-edit" variant="tonal" size="x-small" color="warning"></v-btn>-->
									<v-btn @click.prevent="completeTodo(item)" :disabled="item.completed" rounded="lg"
										   class="ml-1" icon="mdi-check"
										   variant="tonal" size="x-small"
										   color="success"></v-btn>
								</div>
							</template>
						</v-data-table>
						<v-card-text class="pt-0" v-if="selected.length">
							<v-btn color="success" prepend-icon="mdi-check" class="mr-2"
								   @click.prevent="pluralAction('complete')">
								Complete
								<span v-html="selected.length" class="mx-1"></span>
								todos
							</v-btn>
							<v-btn color="warning" prepend-icon="mdi-redo" class="mr-2"
								   @click.prevent="pluralAction('not_completed')">
								UnComplete
								<span v-html="selected.length" class="mx-1"></span>
								todos
							</v-btn>
							<v-btn color="red" prepend-icon="mdi-delete" @click.prevent="pluralAction('delete')">
								Remove
								<span v-html="selected.length" class="mx-1"></span>
								todos
							</v-btn>
						</v-card-text>
					</v-card>
				</v-container>
			</v-main>
		</v-app>
	</v-responsive>
</div>

<script src="static/js/vue.global.js"></script>
<script src="static/js/vuetify.min.js"></script>
<script>
    const {createApp, ref} = Vue
    const {createVuetify} = Vuetify

    const vuetify = createVuetify()

    const app = createApp({
        setup() {
            const message = ref('Hello vue!')
            const theme = ref('light')
            const todoForm = ref()
            const loadingSubmit = ref(false)
            const addPanel = ref(1)
            const date = ref(new Date())
            const title = ref('')
            const person = ref('')
            const tableLoading = ref(true)
            const description = ref('')
            const level = ref('')
            const search = ref('')
            const todos = ref([])
            const selected = ref([])
            const headers = ref([
                {title: 'Title', key: 'title'},
                {title: 'Person', key: 'person',},
                // {title: 'Description', key: 'description'},
                {title: 'Level', key: 'level', align: 'center'},
                {title: 'Date', key: 'date', align: 'center'},
                {title: 'Action', key: 'action', align: 'center', sortable: false},
            ])
            const getTodoColor = (level) => {
                return {
                    'low': 'success',
                    'normal': 'warning',
                    'critical': 'error',
                }[level]
            }
            const showDetail = (todo) => {
                showSnackbar.value = true;
                snackbarText.value = todo.description;
                snackbarColor.value = 'info';
            }

            fetch("/list", {
                method: "GET",
                // body: JSON.stringify({username: "example"}),
                // headers: myHeaders,
            })
                .then(response => response.json())
                .then(data => {
                    todos.value = data;
                    tableLoading.value = false
                })
            const rules = [
                value => {
                    if (value) return true
                    return 'This field is required!'
                },
            ]

            function toggleTheme() {
                theme.value = theme.value === 'light' ? 'dark' : 'light'
            }

            function updateDate(val) {
                date.value = val
                return true
            }

            function deleteTodo(item) {
                fetch("/delete/" + item.id, {
                    method: "DELETE",
                    // body: JSON.stringify({username: "example"}),
                    // headers: myHeaders,
                })
                    .then(response => {
                        showSnackbar.value = true;
                        if (response.ok) {
                            todos.value = todos.value.filter(todo => todo.id !== item.id)
                            snackbarText.value = "Todo removed successfully!";
                            snackbarColor.value = 'success';
                        } else {
                            snackbarText.value = response.statusText;
                            snackbarColor.value = 'error';
                        }
                    })
            }

            function completeTodo(item) {
                fetch("/complete/" + item.id, {
                    method: "POST",
                    // body: JSON.stringify({username: "example"}),
                    // headers: myHeaders,
                })
                    .then(response => {
                        showSnackbar.value = true;
                        if (response.ok) {
                            todos.value = todos.value.map(todo => {
                                if (todo.id === item.id)
                                    todo.completed = true;
                                return todo
                            })
                            snackbarText.value = "Todo completed successfully!";
                            snackbarColor.value = 'success';
                        } else {
                            snackbarText.value = response.statusText;
                            snackbarColor.value = 'error';
                        }
                    })
            }

            function pluralAction(action) {
                tableLoading.value = true
                fetch("/plural", {
                    headers: {
                        "accept": "application/json",
                        "content-type": "application/json",
                    },
                    method: "POST",
                    body: JSON.stringify({
                        'ids': [...selected.value],
                        'action': action
                    }),
                })
                    .then(response => response.json())
                    .then(data => {
                        console.log('data', data)
                        showSnackbar.value = true;
                        snackbarText.value = 'Action done successfully!'
                        snackbarColor.value = 'success';
                        todos.value = data;
                        selected.value = []
                        tableLoading.value = false;
                    })
                    .catch(error => {
                        showSnackbar.value = true;
                        snackbarText.value = error.statusText;
                        snackbarColor.value = 'error';
                        tableLoading.value = false;
                    })
            }

            function submit(ev) {
                todoForm.value?.validate().then(({valid: isValid}) => {
                    if (isValid) {
                        tableLoading.value = true
                        fetch("/add", {
                            headers: {
                                "accept": "application/json",
                                "content-type": "application/json",
                            },
                            method: "POST",
                            body: JSON.stringify({
                                'id': 0,
                                'title': title.value,
                                'description': description.value,
                                'level': level.value,
                                'person': person.value,
                                'completed': false,
                                'date': date.value.toISOString().split('T')[0],
                            }),
                        })
                            .then(response => response.json())
                            .then(data => {
                                console.log('data', data)
                                showSnackbar.value = true;
                                snackbarText.value = 'Todo submitted successfully!'
                                snackbarColor.value = 'success';
                                todos.value.push(data);
                                selected.value = []
                                title.value = ''
                                person.value = ''
                                description.value = ''
                                level.value = ''
                                date.value = new Date()
                                tableLoading.value = false;
                            })
                            .catch(error => {
                                showSnackbar.value = true;
                                snackbarText.value = error.statusText;
                                snackbarColor.value = 'error';
                                tableLoading.value = false;
                            })
                    }
                })

            }

            const showSnackbar = ref(true)
            const snackbarText = ref(`Hi, Welcome to Todo App`)
            const snackbarColor = ref(`success`)
            return {
                theme,
                message,
                toggleTheme,
                date,
                updateDate,
                addPanel,
                title,
                person,
                description,
                rules,
                loadingSubmit,
                submit,
                showSnackbar,
                snackbarText,
                snackbarColor,
                level,
                todos,
                search,
                headers,
                selected,
                tableLoading,
                getTodoColor,
                completeTodo,
                showDetail,
                pluralAction,
                deleteTodo,
                todoForm,
            }
        }
    })
    app.use(vuetify).mount('#app')

</script>
</body>
</html>